<div id="<%= dom_id submission %>">
  <p>
    <strong>Item:</strong>
    <%= submission.item %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= submission.full_name %>
  </p>

  <p>
    <strong>Reflections:</strong>
    <%= submission.reflections %>
  </p>

</div>
